@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>当前路径 @ViewBag.thisPath</h3>
    <h3>上一层  <a asp-action="index" asp-controller="Home" asp-route-path="@ViewBag.s">@ViewBag.s</a>  </h3>
    <ul>
        @foreach (var s in ViewBag.dir as List<string>)
        {
            <li>
                <a asp-action="index" asp-controller="Home" asp-route-path="@s">@s</a>
            </li>
        }
        @foreach (var s in ViewBag.file as List<string>)
        {
            <li>
                <a href="~/@s.Replace("/","")">@s.Replace("/","")</a>
                <img src="@s.Replace("/","")">

            </li>
        }
    </ul>

</div>

<form method="post" enctype="multipart/form-data" asp-action="FileUpload">
    上传文件
    <input multiple type="file" name="file" />
    <input type="submit"/>
</form>
